<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		使用对话框方式认证
		需要注意的是当我们同时定义了http-basic和form-login元素时, form-login将具有更高的优先级. 
		即在需要认证的时候Spring Security将引导我们到登录页面, 而不是弹出一个窗口.	
	 -->
	<security:http auto-config="true">
		<security:http-basic/>
		<security:intercept-url pattern="/**" access="hasRole(ROLE_AGENT)" method="GET" />
		<security:intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:form-login login-page="/login.html" authentication-failure-url="/login.html" default-target-url="/index.html"/>
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="jane" password="1024" authorities="ROLE_USER"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
